@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models


<h2>Machine Details</h2>
<hr />
<h3>Machine Name: @Html.DisplayFor(model => model.MachineName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any certified engineers yet!</p>
}
else
{
  <h4>This machine has the following certified engineers:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.EngineerName</li>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("machineId", Model.MachineId)
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<div class="box">
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
</div>