@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Edit this machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.MachineName)
    @Html.EditorFor(model => model.MachineName)
  

    <input type="submit" value="Save" />
}
<div class="box">
  <p>@Html.ActionLink("Back to Details", "Details", new {id = Model.MachineId})</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>